<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>We are pleased to introduce JSK INFOTECH (CAD/CAM/BIM Training Centre) an Autodesk Authorized Training Centre and Certification Centre offering in-depth and application oriented CAD/CAM/CAE and BIM training to the student and working professional community.  </p>
		  
		<h3>About JSK INFOTECH</h3> 
		 
		<p>JSK INFOTECH (CAD/CAM/BIM Training Centre) a 4 years old premier Information Technology Company based in Mumbai with branches in Thane & Pune. We specialize in offering CAD/CAM/CAE and BIM Software Solutions (Training and Services).  </p>
		  
		<h3>Why JSK INFOECH Training Centre?</h3>  
		 
		<p>JSK INFOTECH (CAD/CAM/BIM TRAINING CENTER) is an Autodesk ATC and ACC leverages experience and expertise gathered by us over the couple of years to provide high quality and professional training on CAD/CAM/CAE and BIM Products and Technology.</p>
	</div>
	<div class="col-3 homepage_content">
		<h2>Stuff We've Built</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>